<?xml version="1.0" encoding="utf-8"?>
<Menu ID="mnuPrincipal">
	<MenuItem ID="smHome" Title="Inicio" Url="index.php?page=Home" Description="Inicio" />
	<MenuItem ID="smPagos" Title="Pagos">
		<MenuItem ID="smPagRegistro" Title="Registro de compra" Url="index.php?page=registro" Description="Registro de compra seleccionados por el cliente" IdPag="registro" />
		<MenuItem ID="smPagCaja" Title="Cobranza" Url="index.php?page=cobranza" Description="Cobro de productos" IdPag="cobranza" />
		<MenuItem ID="smPagEntrega" Title="Entrega" Url="index.php?page=entrega" Description="Entrega de productos" IdPag="entrega" />
	</MenuItem>
	<MenuItem ID="smAdmin" Title="Administración">
		<MenuItem ID="smAdmVendedores" Title="Vendedores" Url="index.php?page=vendedores" Description="Agregar nuevos vendedores y administrar los existentes" IdPag="vendedores" />
		<MenuItem ID="smAdmProductos" Title="Productos" Url="index.php?page=productos" Description="Agregar y modificar productos" IdPag="productos" />
		<MenuItem ID="smAdmPassword" Title="Cambiar password" Url="index.php?page=Usuarios.cambiapass" Description="Cambiar la contraseña del usuario" IdPag="password"/>
		<MenuItem ID="smAdmRestPass" Title="Restablecer contraseña" Url="index.php?page=restpass" Description="Restablecer contraseña de usuario" IdPag="rpas" />
	</MenuItem>
	<MenuItem ID="smSalir" Title="Salir" Url="index.php?page=Usuarios.Login&amp;action=Salir" />
</Menu>
