<?xml version="1.0" encoding="utf-8"?>
<Menu ID="mnuPrincipal">
	<MenuItem ID="smHome" Title="Inicio" Url="index.php?page=Home" Description="Inicio" />
	<MenuItem ID="smPagos" Title="Pagos">
		<MenuItem ID="smPagRegistro" Title="Registro de productos" Url="index.php?page=registro" Description="Registro de productos seleccionados por el cliente" IdPag="registro" />
		<MenuItem ID="smPagCaja" Title="Cobranza" Url="index.php?page=cobranza" Description="Cobro de productos" IdPag="cobranza" />
		<MenuItem ID="smPagEntrega" Title="Entrega" Url="index.php?page=entrega" Description="Entrega de productos" IdPag="entrega" />
	</MenuItem>
	<MenuItem ID="smUsuario" Title="Usuario">
		<MenuItem ID="smAdmNvousr" Title="Datos del usuario" Url="index.php?page=usrs" Description="Administrar datos personales" IdPag="eusr" />
		<MenuItem ID="smUsrAcc" Title="Cambiar password" Url="index.php?page=Usuarios.cambiapass" Description="Cambiar la contraseña del usuario" />
	</MenuItem>
	<MenuItem ID="smAdmin" Title="Administración">
		<MenuItem ID="smAdmNvousr" Title="Administración de usuarios" Url="index.php?page=usrs" Description="Crear nuevos usuarios y administrar los existentes" IdPag="nusr" />
		<MenuItem ID="smAdmRestPass" Title="Restablecer contraseña" Url="index.php?page=restpass" Description="Restablecer contraseña de usuario" IdPag="rpas" />
	</MenuItem>
	<MenuItem ID="smSalir" Title="Salir" Url="index.php?page=Usuarios.Login&amp;action=Salir" />
</Menu>
