<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <authorization>
    <allow pages="asunto, nota" users="*" />
    <allow pages="Home, Usuarios.cambiapass" users="@" />
	<allow pages="registro, notapdf, Productos.Ver" roles="registro" />
	<allow pages="cobranza, caja" roles="cobranza" />
	<allow pages="entrega, paquetes" roles="entrega" />
	<allow pages="Productos.Agregar, Productos.Modificar, Productos.Ver" roles="productos" />
    <deny users="*" />
  </authorization>
</configuration>
